*{
    margin: 0px;
    padding: 0px;
}
.banner{
    width: 100%;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
}
.banner-container{
    display: flex;
    align-items: center;
    position: relative;
}

.banner-item{
    text-align: left;
    padding: 50px 100px 0px 180px;
}

.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.banner-description{
    color: rgba(39,39,39,0.60);
    font-size: 18px;
    font-weight: 400;
    padding: 32px 0px;
}
.btn-shop{
    background-color: #E55473;
    border-radius: 8px;
    padding: 20px 43px;
    border: none;
    color: white;
    font-size: 18px;
}

/* end of banner section style */

.flowers-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 70px;
}

.flowers-title-description{
    color: rgba(39,39,39,0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 40px;
    padding: 10px 0px;
}
.flowers-container{
    display: flex;
    width: 1500px;
    height: 800px;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}


.flowers-type1{
    background-color: rgba(167,33,98,0.1);
    border-radius: 300px 300px 0px 0px;
    height: 600px;
    width: 464px;
}
.flowers-type2{
    background-color: rgba(5,151,160,0.15);
    border-radius: 300px 300px 0px 0px;
    height: 600px;
    width: 464px;
}
.flowers-type3{
    background-color: rgba(71,125,17,0.15);
    border-radius: 300px 300px 0px 0px;
    height: 600px;
    width: 464px;
}
.pngwing-img{
    padding: 160px 75px 0px 75px;
}
.flower3{
    padding-top: 150px;
}

.flower-tree{
    padding: 40px 0px;
    text-align: center;
}



.flowers2{
    padding-top: 50%;
    padding-bottom: 0px;
}


/* end the style of .flowers-container */

.delivery-container{
    display: flex;
    width: 1050px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    align-items: center;
    justify-content: space-around;
    padding: 60px 240px;
    margin-bottom: 100px;
}

.delivery-item{
    text-align: center;
}

.delivery-item p{
    color: rgba(39,39,39,0.80);
    font-size: 24px;
    font-weight: 600;
}

.delivery{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hot-deal-heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
}

.hot-deal-description{
    color: rgba(39,39,39,0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

.hot-deal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 620px;
    gap: 100px;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
}

.hot-deal-item{
    text-align: center;
}

.rose-flower{
    display: flex;
    width: 1440px;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px 240px;
    gap: 15px;
}

/* end style of instragram */
.deals-container{
    width: 1440px;
}
.flowers-title{
    padding-top: 120px;
}
.flowers-title-description{
    padding-bottom: 20px;
    color: rgba(39,39,39,0.60);
    font-size: 16px;
    font-weight: 400;
}

.search-email{
    width: 500px;
    height: 64px;
    margin-right: 10px;
    border-radius: 8px;
    padding-left: 22px;
    color: rgba(39,39,39,0.60);
    font-size: 16px;
    font-weight: 400;
}

.search-box{
    width: 50%;
    margin: auto;
}

.email{
    border: none;
}

.footer{
    background-color: #111010;
    height: 300px;
    color: white;
    text-align: center;
    padding-top: 150px;
    margin-top: 80px;
}

.copyright{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.footer-header{
    font-size: 48px;
    font-weight: 800px;
    padding-bottom: 20px;
}

span{
    color: #E55473;
}

.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}